:root {
  --font: "Montserrat", "Helvetica", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  min-height: 100vh;
  width: 100%;
}

nav {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  height: 15vw;
  justify-content: center;
  max-height: 150px;
  text-align: center;
  width: 100%;
}

button,
input {
  font-family: var(--font);
}

h2 {
  text-transform: uppercase;
}

main {
  width: 100%;
  text-align: center;
}

#debts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
  padding: 2em;
}

.debt {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5vw;
  box-shadow: 1px 1px 2px 1px #222;
}

.debt p {
  border-radius: 10px 0 0 10px;
  flex: 3;
  padding: 1em 0;
}

.debt button {
  flex: 1;
  background-color: #000;
  border-radius: 0 10px 10px 0;
  border: none;
  color: #fff;
}

.debt button:hover,
.debt button:active {
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
}

.debt p:hover {
  background-color: rgba(0, 0, 0, 90%);
  color: #fff;
}

footer {
  background-color: #000;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1em;
  position: fixed;
}

footer form {
  flex: 3;
}

footer form input {
  width: 100%;
}

footer button {
  background-color: #efefef;
  border-radius: 0 5px 5px 0;
  color: #222;
  flex: 1;
}

footer button:hover {
  outline: none;
}

@media only screen and (min-width: 420px) {
  #debts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin: auto auto 5vw auto;
  }

  .debt {
    margin-bottom: 0;
    width: auto;
  }

  footer {
    align-items: center;
    height: 10vh;
    justify-content: center;
    margin: auto;
  }

  footer form {
    display: flex;
    height: 75%;
  }

  footer button {
    height: 75%;
  }
}

@media only screen and (min-width: 720px) {
  #debts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin: 5vw auto;
  }

  footer {
    height: 10vh;
  }
}

@media only screen and (min-width: 1080px) {
  #debts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 3vw auto;
  }

  footer {
    height: 15vh;
  }

  footer form {
    display: flex;
    height: 50%;
  }

  footer button {
    height: 50%;
  }
}

/* Style notification text if localStorage is undefined */
.warning {
  align-items: center;
  background: #000;
  display: flex;
  font-size: 5vw;
  height: 100vh;
  justify-content: center;
  overflow-y: hidden;
  padding: 1em;
  width: 100vw;
  word-break: normal;
}

.warning-text {
  background: red;
  border-radius: 0.5em;
  color: #efefef;
  padding: 0.5em;
}
